<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/static/">
<meta charset="UTF-8">
<title>CodePen - Log In / Sign Up - pure css - #12</title>

<link rel='stylesheet' href='css\bootstrap.min.css'>

<!---图标库--->
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>

<link rel="stylesheet" href="css\style.css">
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
	<div class="section" id="index">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">登录</h4>
											<div class="form-group">
												<input type="text" v-model="username" class="form-style" placeholder="邮箱" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" v-model="password" class="form-style" placeholder="密码" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="btn mt-4" @click="login()">提交</div>
                            				<p class="mb-0 mt-4 text-center"><a href="#0" class="link">忘记密码?</a></p>
										</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>

</body>
<script>
	new Vue({
		el: '#index',
		data: {
			username:"",
			password:""
		},
		methods: {
			login(){
				if(this.username == '' || this.username == null){
					this.$message({
			          showClose: true,
			          message: '账号不能为空',
			          type: 'warning'
			        });
					return;
				}
				if(this.password == '' || this.password == null){
					this.$message({
			          showClose: true,
			          message: '密码不能为空',
			          type: 'warning'
			        });
					return;
				}
				var thit = this
				axios.post('http://127.0.0.1:8080/login',{
					username:thit.username,
					password:thit.password
				}).then(function(res){
					if(!res.data.code){
						thit.$message({
			        	  showClose: true,
			        	  message: '登录成功',
			        	  type: 'success'
			        	});
						localStorage.setItem('token',res.data.access_token)
						localStorage.setItem('username',thit.username)
					}else{
						thit.$message({
			        	  showClose: true,
			        	  message: '账号或密码错误',
			        	  type: 'error'
			        	});
					}
				})
			}
		}
	})
</script>
</html>


