<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.ClassroomMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.Classroom">
        <!--@mbg.generated-->
        <!--@Table classroom-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="floor" jdbcType="INTEGER" property="floor"/>
        <result column="between" jdbcType="INTEGER" property="between"/>
        <result column="roof_type_id" jdbcType="INTEGER" property="roofTypeId"/>
        <result column="between_type_id" jdbcType="INTEGER" property="betweenTypeId"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `floor`, `between`, roof_type_id, between_type_id, `number`
    </sql>

    <resultMap id="findAllClassroomMap" type="com.pxx.collegecourseselectionsystem.dto.ClassroomRoofDto">
        <id column="roof_id" property="id"/>
        <result column="roof_name" property="roofName"/>
        <result column="roof_uuid" property="uuid"/>
        <result column="roof_number" property="roofNumber"/>
        <collection property="floorVOList" ofType="com.pxx.collegecourseselectionsystem.vo.classroom.FloorVO">
            <id column="floor" property="floor"/>
            <collection property="betweenVOList"
                        ofType="com.pxx.collegecourseselectionsystem.vo.classroom.BetweenVO">

                <id column="between_number" property="between"/>
                <result column="between_name" property="betweenName"/>
                <result column="between_uuid" property="uuid"/>
                <result column="quantity" property="quantity"/>
                <result column="between_id" property="betweenId"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findAllClassroom" resultMap="findAllClassroomMap">
        select c.id,
               floor,
               `between`       as between_number,
               roof_type_id,
               between_type_id,
               c.number        as quantity,
               cr.roof_name    as roof_name,
               cr.roof_number  as roof_number,
               cr.id           as roof_id,
               cr.uuid         as roof_uuid,
               cb.between_type as between_name,
               cb.uuid         as between_uuid,
        cb.id as between_id
        from (select * from classroom_roof limit #{current}, #{size}) cr
                     left join classroom c on c.roof_type_id = cr.id
                     left join classroom_between cb on cb.id = c.between_type_id
    </select>
    <!--查询所有总数-->
    <select id="findAllClassroomCount" resultType="java.lang.Long">
        select count(*)
        from (select c.id,
                     floor,
                     `between`       as between_number,
                     roof_type_id,
                     between_type_id,
                     c.number        as quantity,
                     cr.roof_name    as roof_name,
                     cr.roof_number  as roof_number,
                     cr.id           as roof_id,
                     cr.uuid         as roof_uuid,
                     cb.between_type as between_name,
                     cb.uuid         as between_uuid
              from classroom_roof cr
                           left join classroom c on c.roof_type_id = cr.id
                           left join classroom_between cb on cb.id = c.between_type_id
              group by cr.id
                     ) as a
    </select>

    <select id="findOneByRoofAndBetweenAndFloor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from classroom c
                     left join classroom_roof cr on c.roof_type_id = c.id
        <where>
            <if test="between != null">
                and `between` = #{between,jdbcType=INTEGER}
            </if>
            <if test="floor != null">
                and `floor` = #{floor,jdbcType=INTEGER}
            </if>
            <if test="roof != null">
                and cr.id = #{roof,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-02-25-->
    <select id="findOne" resultType="com.pxx.collegecourseselectionsystem.dto.ClassroomDto">
        select c.id,
               floor,
               `between`,
               roof_type_id,
               between_type_id,
               number,
               cr.roof_name    as classroom_roof,
               cb.between_type as classroom_between_name
        from classroom c
                     left join classroom_roof cr on c.roof_type_id = cr.id
                     left join classroom_between cb on cb.id = c.between_type_id
        where c.id = #{id,jdbcType=INTEGER}
    </select>
</mapper>