<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SecondCoursePlanGroupMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SecondCoursePlanGroupEntity">
        <!--@mbg.generated-->
        <!--@Table second_course_plan_group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `year`, up_or_down, start_time, end_time, `state`
    </sql>
    <!--状态时间判断-->
    <sql id="state_time">
        if(now() &lt;
           scpg.start_time, 0,
           if((now() > scpg.start_time and now() &lt;
                                           scpg.end_time), 1, 2)) as state
    </sql>
    <!--统计总数-->
    <select id="findAllGroupPlanCount" resultType="java.lang.Integer">
        select count(1)
        from second_course_plan_group scpg
        order by year desc, sum desc
    </select>
    <resultMap id="findAllGroupPlanMap" type="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupEntityDto">
        <!--@mbg.generated-->
        <!--@Table second_course_plan_group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="sum" property="sum"/>
        <collection property="secondCoursePlanGroupAndUnitDto"
                    ofType="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupAndUnitDto">
            <id column="scpgau_unit_id" property="unitId"/>
            <result column="unit_name" property="unitName"/>
            <result column="sc_id" property="scpgId"/>
            <result column="scpgau_id" property="id"/>
        </collection>

    </resultMap>
    <select id="findAllGroupPlan" resultMap="findAllGroupPlanMap">
        select scpg.id,
               year,
               up_or_down,
               start_time,
               end_time,
               sum,
               scpgau.scpg_id as scpgau_id,
               scpgau.scpg_id as sc_id,
               s.name         as unit_name,
               scpgau.unit_id as scpgau_unit_id,
        <include refid="state_time"/>
        from second_course_plan_group scpg
                     left join second_course_plan_group_and_unit scpgau on scpgau.scpg_id = scpg.id
                     left join sys_unit s on s.unit_id = scpgau.unit_id
        order by year desc, sum desc
        LIMIT #{index},#{size}
    </select>
    <resultMap id="findOneByIdMap" type="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupEntityDto">
        <!--@mbg.generated-->
        <!--@Table second_course_plan_group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="sum" property="sum"/>


        <collection property="secondCourseDtoList" ofType="com.pxx.collegecourseselectionsystem.dto.SecondCourseDto">
            <id column="sc_id" property="id"/>
            <result column="course_id" property="courseId"/>
            <result column="course_sum" property="courseSum"/>
            <result column="up_time" property="upTime"/>
            <result column="week" property="week"/>
            <result column="state" property="state"/>
            <result column="teacher" property="teacher"/>
            <result column="teacher_name" property="teacherName"/>
            <result column="course_name" property="courseName"/>
            <result column="type" property="type"/>
            <result column="plan_group_id" property="planGroupId"/>
            <result column="up_time_two" property="upTimeTwo"/>
            <result column="up_time_number" property="upTimeNumber"/>
            <result column="week_number" property="weekNumber"/>
        </collection>
        <collection property="secondCoursePlanGroupAndUnitDto"
                    ofType="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupAndUnitDto">
            <id column="scpgau_unit_id" property="unitId"/>
            <result column="unit_name" property="unitName"/>
            <result column="plan_group_id" property="scpgId"/>
            <result column="scpgau_id" property="id"/>
        </collection>
    </resultMap>
    <select id="findOneById" resultMap="findOneByIdMap">
        select scpg.*
             , scpg.id        as plan_group_id
             , sc.id          as sc_id
             , sc.course_id
             , sc.teacher
             , sc.course_sum
             , sc.up_time
             , sc.up_time     as up_time_number
             , sc.week        as week_number
             , sc.week
             , sum
             , co.`name`      as course_name
             , su.user_id     as teacher
             , su.name        as teacher_name
             , co.type        as type
             , sc.up_time_two
             , s.unit_id
             , s.name         as unit_name
             , scpgau.unit_id as scpgau_unit_id
             , scpgau.id      as scpgau_id
             ,
        <include refid="state_time"/>


        from second_course_plan_group scpg
                     LEFT JOIN second_course sc ON scpg.id = sc.plan_group_id
                     LEFT JOIN course co ON co.id = sc.course_id
                     LEFT JOIN sys_user su ON su.user_id = sc.teacher
                     left join second_course_plan_group_and_unit scpgau on scpgau.scpg_id = scpg.id
                     left join sys_unit s on s.unit_id = scpgau.unit_id


                where
         scpgau.scpg_id = #{id,jdbcType=INTEGER}
        and scpg.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findEndDataSum" resultType="java.lang.Integer">
        select sum
        from second_course_plan_group
        where year = #{year,jdbcType=INTEGER}
          and up_or_down = #{code,jdbcType=INTEGER}
        order by sum desc
        limit 1
    </select>
</mapper>