<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SecondCoursePlanGroupMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SecondCoursePlanGroupEntity">
        <!--@mbg.generated-->
        <!--@Table second_course_plan_group-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="unit_id" property="unitId"/>
        <result column="release_state" property="releaseState"/>
        <result column="sum" property="sum"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `year`, up_or_down, start_time, end_time, `state`,unit_id,release_state,sum
    </sql>
    <!--状态时间判断-->
    <sql id="state_time">
        if(now() &lt;
           scpg.start_time, 0,
           if((now() > scpg.start_time and now() &lt;
                                           scpg.end_time), 1, 2)) as conduct_state
    </sql>
    <!--统计总数-->
    <select id="findAllGroupPlanCount" resultType="java.lang.Integer">
        select count(1)
        from second_course_plan_group scpg
        order by year desc, sum desc
    </select>
    <resultMap id="findAllGroupPlanMap" type="com.pxx.collegecourseselectionsystem.entity.SecondCoursePlanGroupEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="conduct_state" jdbcType="INTEGER" property="state"/>
        <result column="sum" property="sum"/>
        <result column="release_state" property="releaseState"/>
    </resultMap>
    <select id="findAllGroupPlan" resultMap="findAllGroupPlanMap">
        select scpg.id,
               year,
               up_or_down,
               start_time,
               end_time,
               sum,
               release_state,
        <include refid="state_time"/>
        from second_course_plan_group scpg
        order by year desc, sum desc
    </select>
    <resultMap id="findOneByIdMap" type="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupEntityDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="conduct_state" jdbcType="INTEGER" property="state"/>
        <result column="sum" property="sum"/>
        <result column="release_state" property="releaseState"/>
        <collection property="secondCourseDtoList" ofType="com.pxx.collegecourseselectionsystem.dto.SecondCourseDto">
            <id column="sc_id" property="id"/>
            <result column="course_id" property="courseId"/>
            <result column="course_sum" property="courseSum"/>
            <result column="up_time" property="upTime"/>
            <result column="week" property="week"/>
            <result column="release_state" property="state"/>
            <result column="teacher" property="teacher"/>
            <result column="teacher_name" property="teacherName"/>
            <result column="course_name" property="courseName"/>
            <result column="type" property="type"/>
            <result column="plan_group_id" property="planGroupId"/>
            <result column="up_time_two" property="upTimeTwo"/>
            <result column="up_time_number" property="upTimeNumber"/>
            <result column="up_time_two_number" property="upTimeTwoNumber"/>
            <result column="week_number" property="weekNumber"/>
            <result column="total_sum" property="totalSum"/>
            <result column="roof_name" property="roofName"/>
            <result column="roof_number" property="roofNumber"/>
            <result column="floor" property="floor"/>
            <result column="between_id" property="betweenId"/>
            <result column="number" property="between"/>
            <result column="between_name" property="betweenType"/>
            <result column="roof_id" property="roofId"/>
            <result column="classroom_id" property="classroomId"/>
            <result column="online_class" property="onlineClass"/>
        </collection>
        <collection property="unitIds" ofType="integer">
            <result column="scpgau_unit_id" property="value"/>
        </collection>
    </resultMap>
    <select id="findOneById" resultMap="findOneByIdMap">
        select scpg.*
             , scpg.id         as plan_group_id
             , sc.id           as sc_id
             , sc.state        as release_state
             , sc.course_id
             , sc.teacher
             , sc.course_sum
             , sc.up_time
             , sc.up_time      as up_time_number
             , sc.week         as week_number
             , sc.week
             , sc.course_sum   as total_sum
             , co.`name`       as course_name
             , su.user_id      as teacher
             , su.name         as teacher_name
             , ct.name         as type
             , sc.up_time_two  as up_time_two_number
             , sc.up_time_two
             , scpgau.unit_id  as scpgau_unit_id
             , scpgau.scpg_id  as scpgau_id
             , scpg.release_state
             , sc.classroom_id
             , c.`between`     as number
        ,co.online_class
             , cb.id           as between_id
             , cb.between_type as between_name
             , floor
             , cr.id           as roof_id
             , cr.roof_name
             , cr.roof_number
             ,
        <include refid="state_time"/>


        from second_course_plan_group scpg
                     LEFT JOIN second_course sc ON scpg.id = sc.plan_group_id
                     LEFT JOIN course co ON co.id = sc.course_id
        left join course_type ct on ct.id = co.type
                     LEFT JOIN sys_user su ON su.user_id = sc.teacher
                     left join second_course_plan_group_and_unit scpgau on scpgau.scpg_id = scpg.id
                     left join classroom c on c.id = sc.classroom_id
                     left join classroom_between cb on cb.id = c.between_type_id
                     left join classroom_roof cr on cr.id = c.roof_type_id

        where su.type = 2
          and scpgau.scpg_id = #{id,jdbcType=INTEGER}
          and scpg.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findEndDataSum" resultType="java.lang.Integer">
        select sum
        from second_course_plan_group
        where year = #{year,jdbcType=INTEGER}
          and up_or_down = #{code,jdbcType=INTEGER}
        order by sum desc
        limit 1
    </select>

    <select id="findUnitIdByPlanGroupId" resultType="java.lang.Integer">
        select scpgau.unit_id
        from second_course_plan_group scpg
                     left join second_course_plan_group_and_unit scpgau on scpg.id = scpgau.scpg_id
        where scpg.id = #{planGroupId,jdbcType=INTEGER}
    </select>
    <resultMap id="findOneAndUnitByIdMap"
               type="com.pxx.collegecourseselectionsystem.dto.SecondCoursePlanGroupEntityDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="up_or_down" jdbcType="INTEGER" property="upOrDown"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="conduct_state" jdbcType="INTEGER" property="state"/>
        <result column="sum" property="sum"/>
        <result column="release_state" property="releaseState"/>
        <collection property="unitIds" ofType="integer">
            <result column="scpgau_unit_id" property="value"/>
        </collection>
    </resultMap>
    <select id="findOneAndUnitById" resultMap="findOneAndUnitByIdMap">
        select scpg.*
             , scpg.id        as plan_group_id
             , sc.id          as sc_id
             , sc.course_id
             , sc.teacher
             , sc.course_sum
             , sc.up_time
             , sc.up_time     as up_time_number
             , sc.week        as week_number
             , sc.week
             , sum
             , co.`name`      as course_name
             , co.type        as type
             , sc.up_time_two as up_time_two_number
             , sc.up_time_two
             , scpgau.unit_id as scpgau_unit_id
             , scpgau.scpg_id as scpgau_id
             , scpg.release_state
             ,
        <include refid="state_time"/>
        from second_course_plan_group scpg
                     LEFT JOIN second_course sc ON scpg.id = sc.plan_group_id
                     LEFT JOIN course co ON co.id = sc.course_id
                     left join second_course_plan_group_and_unit scpgau on scpgau.scpg_id = scpg.id
        where scpgau.scpg_id = #{planGroupId,jdbcType=INTEGER}
          and scpg.id = #{planGroupId,jdbcType=INTEGER}
    </select>

    <select id="getOneByState" resultType="java.lang.Integer">
        select
        <include refid="state_time"/>
        from second_course_plan_group scpg
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>