<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        menu_id, parent_id, `name`, url, perms, `type`, icon, order_num, `status`
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update sys_menu
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="parent_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.parentId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="`name` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="url = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.url,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="perms = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.perms,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`type` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.type,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="icon = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.icon,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="order_num = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.orderNum,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when menu_id = #{item.menuId,jdbcType=INTEGER} then #{item.status,jdbcType=INTEGER}
                </foreach>
            </trim>
        </trim>
        where menu_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.menuId,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="menu_id" keyProperty="menuId" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_menu
        (parent_id, `name`, url, perms, `type`, icon, order_num, `status`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.parentId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR},
            #{item.perms,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER}, #{item.icon,jdbcType=VARCHAR},
            #{item.orderNum,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="menu_id" keyProperty="menuId"
            parameterType="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            parent_id,
            `name`,
            url,
            perms,
            `type`,
            icon,
            order_num,
            `status`,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            #{parentId,jdbcType=INTEGER},
            #{name,jdbcType=VARCHAR},
            #{url,jdbcType=VARCHAR},
            #{perms,jdbcType=VARCHAR},
            #{type,jdbcType=INTEGER},
            #{icon,jdbcType=VARCHAR},
            #{orderNum,jdbcType=INTEGER},
            #{status,jdbcType=INTEGER},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=INTEGER},
            </if>
            parent_id = #{parentId,jdbcType=INTEGER},
            `name` = #{name,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            perms = #{perms,jdbcType=VARCHAR},
            `type` = #{type,jdbcType=INTEGER},
            icon = #{icon,jdbcType=VARCHAR},
            order_num = #{orderNum,jdbcType=INTEGER},
            `status` = #{status,jdbcType=INTEGER},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="menu_id" keyProperty="menuId"
            parameterType="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="findMenuByType" parameterType="int" resultMap="BaseResultMap">
        select menu_id,
               parent_id,
               `name`,
               url,
               perms,
        status
        from sys_menu where type  in (
                <foreach collection="type" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
    </select>
</mapper>