<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="menu_type" property="menuType"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        menu_id, parent_id, `name`, url, perms, `type`, icon, order_num, `status`,menu_type
    </sql>

    <select id="findMenuByType" parameterType="int" resultMap="BaseResultMap">
        select menu_id,
               parent_id,
               `name`,
               url,
               perms,
               status,
               type,
        menu_type
        from sys_menu
        

        where type in (
        <foreach collection="type" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
                and status = 1
    </select>

    <select id="findAllMenuByType" resultMap="BaseResultMap">
        select menu_id,
        parent_id,
        `name`,
        url,
        perms,
        status,
        type,
        menu_type
        from sys_menu where type in (
        <foreach collection="type" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )

    </select>

    <select id="findMenuByUrl" resultMap="BaseResultMap">
        select * from sys_menu where url=#{url,jdbcType=VARCHAR}
    </select>

    <select id="findMenuById" resultMap="BaseResultMap">
        select * from sys_menu sm left join sys_role_menu srm on sm.menu_id = srm.menu_id
        left join sys_user_role sur on srm.role_id = sur.role_id
        where sm.menu_id in (
        <foreach collection="menuIds" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        and sur.user_id=#{userId,jdbcType=BIGINT}
    </select>

    <select id="findOneByUrl" resultMap="BaseResultMap">
            select * from sys_menu where url=#{url,jdbcType=VARCHAR}
    </select>
</mapper>