<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SysRoleEntity">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="REVISION" jdbcType="INTEGER" property="revision"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <collection property="sysMenuEntities" ofType="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity">
            <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
            <result column="perms" jdbcType="VARCHAR" property="perms"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        role_id, role_name, remark, REVISION, created_by, created_time, updated_by, updated_time
    </sql>
    <select id="findRoleByUserId" resultMap="BaseResultMap">
        select sr.role_id, sr.role_name
        from sys_role sr
                     left join sys_user_role sur on sr.role_id = sur.role_id
                     left join sys_user su on sur.user_id = su.user_id
        where su.user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="findRoleInfoByRoleId" resultMap="BaseResultMap">
        select sr.role_id, sr.role_name, sr.remark, sr.REVISION, sm.menu_id, sm.name, sm.perms,sm.parent_id
        from sys_role sr
                     left join sys_role_menu srm on sr.role_id = srm.role_id
                     left join sys_menu sm on srm.menu_id = sm.menu_id
    </select>
</mapper>