<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SysUnitMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SysUnitEntity">
        <!--@mbg.generated-->
        <!--@Table sys_unit-->
        <id column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        unit_id, `name`, pid, code
    </sql>

    <select id="findUnitIdByUserId" resultType="java.lang.Integer">
        select su.unit_id
        from sys_unit su
                     left join sys_user s on su.unit_id = s.unit_id
        <where>
            <if test="userId !=null and userId != 1">
                user_id = #{userId,jdbcType=BIGINT}
            </if>

        </where>

    </select>

    <select id="findAllByUnitId" resultMap="BaseResultMap">
        select * from sys_unit
    </select>
</mapper>