<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxx.collegecourseselectionsystem.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.pxx.collegecourseselectionsystem.entity.SysUserEntity">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="revision" jdbcType="INTEGER" property="revision"/>
        <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="unit_id" property="unitId"/>
        <result column="sex" property="sex"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, `name`, `number`, age, tel,enable, `password`, `type`, email, address, avatar,
        `state`, revision, lock_time, created_time, created_by, updated_time, updated_by
    </sql>


    <resultMap id="FindUserAndRoleMap" type="com.pxx.collegecourseselectionsystem.entity.SysUserEntity">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="revision" jdbcType="INTEGER" property="revision"/>
        <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
        <collection ofType="com.pxx.collegecourseselectionsystem.entity.SysRoleEntity" property="roleEntityList">
            <id column="role_id" jdbcType="INTEGER" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="remark" property="remark"/>
            <result column="REVISION" property="revision"/>
        </collection>
        <collection property="menuEntityList" ofType="com.pxx.collegecourseselectionsystem.entity.SysMenuEntity">
            <id column="menu_id" property="menuId"/>
            <result column="perms" property="perms"/>
        </collection>
    </resultMap>

    <select id="findUserAndRoleMap" resultMap="FindUserAndRoleMap">
        select su.*,
               sr.role_id,
               sr.role_name,
               sr.remark,
               sr.REVISION
        from sys_user su
                     left join sys_user_role sur on su.user_id = sur.user_id
                     left join sys_role sr on sur.role_id = sr.role_id
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-11-25-->
    <select id="findOneByNumber" resultMap="FindUserAndRoleMap">
        select su.user_id,
               su.name,
               number,
               age,
               tel,
        password,
               email,
               address,
               avatar,
               state,
               lock_time,
               enable,
                s.name as unit_name,
               sr.role_id,
               sr.role_name,
               sr.remark,
               sr.REVISION,
               sm.menu_id,
               sm.name,
               sm.perms
        from sys_user su
                     left join sys_user_role sur on su.user_id = sur.user_id
                     left join sys_role sr on sur.role_id = sr.role_id
                     left join sys_role_menu srm on sr.role_id = srm.role_id
                     left join sys_menu sm on srm.menu_id = sm.menu_id
                    left join  sys_unit s on su.unit_id = s.unit_id
        <where>
            <if test="number != null">
                and `number` = #{number,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findAllUser" resultType="com.pxx.collegecourseselectionsystem.dto.SysUserDto">
        select su.user_id,
               su.name,
               su.number,
               su.age,
               su.tel,
                su.sex,
               su.type,
               su.email,
               su.address,
               su.avatar,
               su.state,
               su.revision,
               su.lock_time,
               su.enable,
        s.name as unit_name
        from sys_user su
                     left join sys_unit s on su.unit_id = s.unit_id
        <where>
            <if test="type != null">
                and type=#{type,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="findOneByUserId" resultType="com.pxx.collegecourseselectionsystem.dto.SysUserDto">
        select su.user_id,
        su.name,
        su.number,
        su.age,
        su.tel,
        su.sex,
        su.type,
        su.email,
        su.address,
        su.avatar,
        su.state,
        su.revision,
        su.enable,
        s.unit_id as unit_id,
        s.name as unit_name,
        sr.role_id,
        sr.role_name
        from sys_user su
        left join sys_unit s on su.unit_id = s.unit_id
        left join sys_user_role sur on su.user_id = sur.user_id
        left join sys_role sr on sur.role_id = sr.role_id
        <where>
            <if test="userId != null">
                and su.user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>